.container {
  width: 200px;
  height: 200px;
}

.blue {
  background-color: blue;
  padding: 20px;
  border: 10px solid black;
}
.red {
  background-color: red;
  border: solid black;
  border-width: 20px 10px;
  margin-left: 259px;
}
.green {
  background-color: green;
  border: 10px solid black;
  margin-left: 40px;
}

p {
  margin: 0;
}
